.about {
    font-size: 50px;
    min-height: 50vh;
    max-width: 1000px;
    margin: 0 auto;
}

.about-desc {
    font-size: 20px;
    padding-bottom: 10px;
    text-align: justify;
    max-width: 600px;
}

.img-me{
    border-radius: 10%;
    float: right;
    max-width: 300px;
    height: auto;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    margin-right: 40px;
    position: relative;
    top: -210px;
}

.about-unilink{
    color:aqua;
    text-decoration: none;
}

.about-lang {
    font-size: 20px;
}

.about-lang li {
    position: relative;
}

.about-lang ul {
    grid-template-columns: repeat(2, minmax(150px, 10px));
    display: grid;
    padding-left: 20px;
}

