.intro{
    font-size: 50px;
    text-align: center;
    min-height: 50vh;
    margin: auto;
    max-width: 1000px;
    padding-top: 100px;
    line-height: 1.2;
}

.intro-desc {
    font-size: 20px;
    margin: 0  auto;
    margin-top: 0;
    line-height: 1.8;
    max-width: 500px;
}

.intro-contact{
    margin-top: 30px;
}

.intro-contact a:hover{
    background-color: #233554;
}

.intro-contact a{
    color: #64ffda;
    font-size: 20px;
    text-decoration:solid;
    border: 2px solid #64ffda;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    line-height: 4.5;
    text-indent: 2px;
}

#intro-name {
    color: #64ffda;
}

#blinkingPoint {
    color: #64ffda;
    animation: fade-in 500ms infinite alternate;
}